/* 
==============================================
CONTENT:	Project Name Here
AUTHOR:		Your Name Here
==============================================

TABLE OF CONTENTS:

0. Reset
1. Main Layout
2. Content

==============================================
*/

/* 0. Reset ================================= */
@import 'reset';


/* 1. Main Layout ================================= */

* {
	box-sizing: border-box;
}

body {
	background: #ccc;
	font-family: sans-serif;
}

$button-height: 27px;
$button-width: 35px;
$color-background: #F5F5F5;
$color-header: #fff;
$color-main: #fff;
$overlay-color: rgba(0, 0, 0, 0.9);
$color-active: #fff;
$color-link: #fff;
$areno: 'areno_roughregular';


@font-face {
    font-family: 'areno_roughregular';
    src:    url('areno-rough-webfont.woff2') format('woff2'),
            url('areno-rough-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


/* 2. Content ================================= */

.nav-links {
	display: inline-block;
	position: relative;
	text-align: center;
	color: $color-main;
	text-decoration: none;
	font-size: 30px;
	overflow: hidden;
    top: 5px;
    font-family: sans-serif;
	
	&:after {
        content: '';
        position: absolute;
        background: $color-main;
        height: 2px;
        width: 0%;
        transform: translateX(-50%);
        left: 50%;
        bottom: 0;
        transition: .35s ease;
    }
    
    &:hover:after,
    &:focus:after,
    &:active:after {
        width: 100%;
    }
}

.header{
    display: flex;
    position: fixed;
    width: 100%;
    height: 60px;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    

    h1{
        // text-align: center;
        // flex-grow: 1;
        color: $color-header;
        text-transform: uppercase;
        font-size: 25px;
    }
}


.hamburger {
    position: fixed;
    height: $button-height;
    width: $button-width;
    cursor: pointer;
    z-index: 100;
    left: 5%;
    transition: opacity .25s ease;

    &:hover {
	    opacity: .7;
    }

    &.active {
        .top {
            transform: translateY(11px) translateX(0) rotate(45deg);
            background: $color-active;
        }
        .middle {
            opacity: 0;
            background: $color-active;
        }
        
        .bottom {
            transform: translateY(-11px) translateX(0) rotate(-45deg);
            background: $color-active;
        }
    }

    span {
        background: $color-main;
        border: none;
        height: 5px;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        transition:  all .35s ease;
        cursor: pointer;
	
        &:nth-of-type(2) {
            top: 11px;
        }
        
        &:nth-of-type(3) {
            top: 22px;
	    }
    }
}

.overlay {
    position: fixed;
    background: $overlay-color;
    top: 0;
    left: 0;
    width: 100%;
    height: 0%;
    opacity: 0;
    visibility: hidden;
    transition: opacity .35s, visibility .35s, height .35s;
    overflow: hidden;
    
    &.open {
        opacity: .9;
        visibility: visible;
        height: 100%;
        
        li {
            animation: fadeInRight .5s ease forwards;
            animation-delay: .35s;
        
            &:nth-of-type(2) {
                animation-delay: .4s;
            }
            &:nth-of-type(3) {
                animation-delay: .45s;
            }
            &:nth-of-type(4) {
                animation-delay: .50s;
            }
            &:nth-of-type(5) {
                animation-delay: .55s;
            }
            &:nth-of-type(6) {
                animation-delay: .60s;
            }
        }
    }

    nav {
        position: relative;
        height: 70%;
        top: 50%;
        transform: translateY(-50%);
        font-size: 50px;
        font-family: 'Varela Round', serif;
        font-weight: 400;
        text-align: center;
    }

    ul {
        list-style: none;
        padding: 0;
        margin: 0 auto;
        display: inline-block;
        position: relative;
        height: 100%; 
    
        li {
            display: block;
            height: 25%;
            height: calc(100% / 4);
            min-height: 50px;
            position: relative;
            opacity: 0;

            a {
                display: block;
                position: relative;
                color: $color-link;
                text-decoration: none;
                overflow: hidden;
                
                &:hover:after,
                &:focus:after,
                &:active:after {
                    width: 100%;
                }
            
                &:after {
                    content: '';
                    position: absolute;
                    bottom: 0;
                    left: 50%;
                    width: 0%;
                    transform: translateX(-50%);
                    height: 3px;
                    background: $color-link;
                    transition: .35s;
                }
            }
        }
    }
}

@keyframes fadeInRight {
    0% {
        opacity: 0;
        left: 20%;
    }
    100% {
        opacity: 1;
        left: 0;
    }
}

.hero{
    // .hero-image{
        background: url(../img/heroExploreWorldsMobile.jpg) no-repeat;
        background-size: cover;
        width: 100%;
        height: 350px;
        display: flex;
        display: inline-block;
    // }

    .hero-text{
        font-family: $areno;
        // position: absolute;
        // top: 33%;
        // left: 14%;
        color: white;
        text-align: center;
        position: relative;
        top: 45%;


        // .headline{
            
        // }
    }
}
