/* 
==============================================
CONTENT:	Project Name Here
AUTHOR:		Your Name Here
==============================================

TABLE OF CONTENTS:

0. Reset
1. Main Layout
2. Content

==============================================
*/

/* 0. Reset ================================= */
@import 'reset';




/* 1. Main Layout ================================= */

* {
	box-sizing: border-box;
}

body {
	background: #fff;
    font-family: sans-serif;
    transition: 0.2s;
    font-weight: lighter;
}

$button-height: 27px;
$button-width: 35px;
$color-background: #F5F5F5;
$color-header: #fff;
$color-main: #fff;
$overlay-color: rgba(0, 0, 0, 0.9);
$color-active: #fff;
$color-link: #fff;
$areno: 'areno_roughregular';
$body-text: 'helvetica-light';

@font-face {
    font-family: 'areno_roughregular';
    src:    url('areno-rough-webfont.woff2') format('woff2'),
            url('areno-rough-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

$tablet-breakpoint: 640px;
$desktop-breakpoint: 1024px;

@mixin tablet {
	@media only screen and (min-width: $tablet-breakpoint){
		@content;
	}
}

@mixin desktop {
	@media only screen and (min-width: $desktop-breakpoint){
		@content;
	}
}



/* 2. Content ================================= */

/* HOME */


header{
    display: flex;
    position: fixed;
    width: 100%;
    height: 60px;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 100;
    

    h1{
        // text-align: center;
        // flex-grow: 1;
        color: $color-header;
        text-transform: uppercase;
        font-size: 25px;
        font-family: $areno;
    }

    .mobile-logo{
        @include desktop{
            visibility: hidden;
        }
    }

    .desktop-logo{
        visibility: hidden;

        @include desktop{
            visibility: visible;
            display: block;
            position: relative;
            top: 5px;
            color: #e52e1f;
            font-size: 30px;
        }
    }
}


.hamburger {
    position: fixed;
    height: $button-height;
    width: $button-width;
    cursor: pointer;
    z-index: 100;
    left: 5%;
    transition: opacity .25s ease;

    @include desktop{
        display: none;
    }

    &:hover {
	    opacity: .7;
    }

    &.active {
        .top {
            transform: translateY(11px) translateX(0) rotate(45deg);
            background: $color-active;
        }
        .middle {
            opacity: 0;
            background: $color-active;
        }
        
        .bottom {
            transform: translateY(-11px) translateX(0) rotate(-45deg);
            background: $color-active;
        }
    }

    .nav-span {
        background: $color-main;
        border: none;
        height: 5px;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        transition:  all .35s ease;
        cursor: pointer;
	
        &:nth-of-type(2) {
            top: 11px;
        }
        
        &:nth-of-type(3) {
            top: 22px;
	    }
    }
}

.overlay {
    position: fixed;
    background: $overlay-color;
    top: 0;
    left: 0;
    width: 100%;
    height: 0%;
    opacity: 0;
    visibility: hidden;
    transition: opacity .35s, visibility .35s, height .35s;
    overflow: hidden;

    @include desktop{
        visibility: visible;
        height: 12%;
        opacity: 1;
        background: rgba(0, 0, 0, 0.0);

    }
    
    &.open {
        opacity: .9;
        visibility: visible;
        height: 100%;
        
        li {
            animation: fadeInRight .5s ease forwards;
            animation-delay: .35s;
        
            &:nth-of-type(2) {
                animation-delay: .4s;
            }
            &:nth-of-type(3) {
                animation-delay: .45s;
            }
            &:nth-of-type(4) {
                animation-delay: .50s;
            }
            &:nth-of-type(5) {
                animation-delay: .55s;
            }
            &:nth-of-type(6) {
                animation-delay: .60s;
            }
        }
    }

    nav {
        position: relative;
        height: 50%;
        top: 50%;
        transform: translateY(-50%);
        font-size: 50px;
        font-family: 'Varela Round', serif;
        font-weight: 400;
        text-align: center;

        @include desktop{
            height: 100%;
        }
    }

    ul {
        list-style: none;
        padding: 0;
        margin: 0 auto;
        display: inline-block;
        position: relative;
        height: 100%; 

        @include desktop{
            display: flex;
            justify-content: space-around;
            flex-direction: row;
            align-items: baseline;
        }  
        
        .left-nav,
        .right-nav{
            @include desktop{
                flex-grow: 1;
                display: flex;
                justify-content: space-around;
            }
        }

        li {
            display: block;
            height: 25%;
            height: calc(100% / 4);
            min-height: 50px;
            position: relative;
            opacity: 0;
    

            @include desktop{
                opacity: 1;
            }

            a {
                display: block;
                position: relative;
                color: $color-link;
                text-decoration: none;
                text-transform: uppercase;
                overflow: hidden;
                font-size: 20px;
                padding: 20px;
                transition: .35s;
                font-family: Arial, Helvetica, sans-serif;

                
                &:hover,
                &:focus,
                &:active {
                    color: white;
                    background-color: #f95a00;
                }
            
                // &:after {
                //     content: '';
                //     position: absolute;
                //     bottom: 0;
                //     left: 50%;
                //     width: 0%;
                //     transform: translateX(-50%);
                //     height: 3px;
                //     background: #f95a00;
                //     transition: .35s;
                // }
            }
        }
    }
}

@keyframes fadeInRight {
    0% {
        opacity: 0;
        left: 20%;
    }
    100% {
        opacity: 1;
        left: 0;
    }
}

.hero{
// .hero-image{
    position: relative;
    background: url(../img/home-background.jpg) no-repeat;
    background-color: black;
    background-size: cover;
    background-position: 50% 100%;
    width: 100%;
    display: inline-block;
    transition: 0.2s;
// }

    @include desktop{
        // background-position-y: -100px;
        // height: 50vw;
    }

    .layered-for-text-wrapped{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: url(../img/home-foreground.png) no-repeat;
        background-size: cover;
        background-position: 50% 100%;

        @include desktop{
            // background-position-y: -100px;
            // height: 50vw;
        }
    }

    .layered-for-text{
        width: 100%;
        height: auto;
        position: absolute;
        top: 0;
        right: 0;
    }


    .hero-text{
        font-family: $areno;
        // left: 14%;
        color: white;
        text-align: center;
        position: relative;
        margin-top: 32%;

        @include desktop{
            margin: 3% 0% 20%;
        }
        

        h2{
            font-size: 2.5em;
            padding-bottom: 20px;
            display: flex;
            justify-content: space-evenly;

            @include desktop{
                padding-top: 20%;
                display: block;
            }

            .first-word-h2{

                @include desktop{
                    text-align: left;
                    margin: -9% 7%;
                    font-size: 6.5vw;
                }
            }

            .second-word-h2{

                @include desktop{
                    text-align: center;
                    margin: 9%;
                    font-size: 7vw;
                }
            }

            .third-word-h2{

                @include desktop{
                    text-align: right;
                    margin: -13% 7%;
                    font-size: 7.5vw;
                }
            }
        }

        .hero-span{
            position: relative;
            z-index: 3;
            @include desktop{
                font-size: 3em;
                margin: 15%;
                position: relative;
                display: block;
            }
        }
    }

    button{
        font-family: $body-text;
        color: white;
        text-transform: uppercase;
        padding: 14px 28px;
        font-size: 16px;
        background: rgba(0, 0, 0, 0.0);
        border: 1px solid white;
        margin: 50px 0px 100px;

        @include desktop{
            display: none;
        }
    }
}

.about{
    background: black;
    color: white;
    font-family: $body-text;
    

    .about-text{
        text-align: center;
        position: relative;
    }

    h3{
        font-family: $areno;
        color: red;
        font-size: 1.5em;
        padding: 40px 0px;

        @include desktop{
            font-size: 2em;
            padding: 30px;
        }
    }

    span{
        display: block;

        @include desktop{
            display: inline;
        }
    }

    p{
        padding: 0px 40px 40px;
        line-height: 1.5em;
        font-size: 20px;

        @include desktop{
            max-width: 600px;
            margin: 0 auto;
        }
    }

    button{
        font-family: $body-text;
        color: #f97a32;
        text-transform: uppercase;
        padding: 14px 28px;
        font-size: 16px;
        background: black;
        border: 1px solid #f97a32;
        margin-bottom: 40px;
    }
}

.tours{
    padding-bottom: 30px;

    .tours-text{
        text-align: center;
        position: relative;
    }

    span{
        font-family: $areno;
        color: black;
        font-size: 25px;
        display: block;
        padding: 40px;
    }

    ul{
        width: 100%;
        min-height: 320px;
        height: fit-content;
        overflow-x: scroll;
        overflow-y: hidden; 
    }

    .popular-tours-list{
        width: (200px + 6px + 6px) * 5 + 20px;

        @include desktop{
            width: 100%;
            display: flex;
            justify-content: space-between;
        }
    }

    .popular-tour {
        display: inline-block;
        background: green;
        width: 200px;
        height: 300px;
        margin: 6px;
        position: relative;
        background-size: cover;
        border-bottom: 30px solid green;

        @include desktop{
            width: 350px;
            height: 400px;
        }

        .pop-tour-desc{
            position:absolute;
            bottom: 0;
            padding-bottom: 25px;

            span{
                padding: 0px 0px 0px 20px;
                color: white;
                
                @include desktop{
                    font-size: 2.5em;
                }
            }
        }
        
        &:last-child {
            margin-right: 0;
        }

        &.norlights{
            background: url(../img/northernlights-mobile.jpg);
            border-bottom-color: #0f161d;
        }

        &.blulagoon{
            background: url(../img/bluelagoon-mobile.jpg);
            border-bottom-color: #00806f;
        }

        &.volunderground{
            background: url(../img/volcanopark-mobile.jpg);
            border-bottom-color: #fa5b00;
        }

        &.vantpark{
            background: url(../img/park-mbile.jpg);
            background-size: cover;
            border-bottom: 30px solid #538ba3;
        }

        &.golcircle{
            background: url(../img/goldencircle-mobile.jpg);
            background-size: cover;
            border-bottom: 30px solid #e52e1f;
        }
    }
}

.chatbox-sect{

    background: url(../img/chatexpert.jpg) no-repeat;
    background-color: #edeef0;
    background-size: contain;
    background-position-x: 0;
    padding: 155px 30px 50px;
    color: #3a343a;
    line-height: 1.5em;
    font-size: 18px;

    @include desktop{
        padding: 0px;
    }

    .chatbox{
        padding: 50px;
        text-align: center;
        background-color: white;

        @include desktop{
            width: 50%;
            margin: 0 50%;
            padding: 10%;
        }
    
        .talkicon{
            display: block;
            position: relative;
            margin-left: auto;
            margin-right: auto;
            width: 35px; 

            @include desktop{
                width: 40px;
            }
        }
    }

    h3{
        font-family: $areno;
        font-size: 24px;
        padding: 20px 0px;
        color: #538ba3;

        @include desktop{
            font-size: 38px;
        }
    }

    span{
        display: inline-block;
    }

    button{
        font-family: $body-text;
        color: #f97a32;
        text-transform: uppercase;
        padding: 14px 50px;
        font-size: 16px;
        background: white;
        border: 1px solid #f97a32;
        margin-top: 30px;
    }
}

.instagram{
    padding-bottom: 30px;

    .tours-text{
        text-align: center;
        position: relative;

        @include desktop{
            text-align: left;
            padding-left: 30px;
        }
    }

    span{
        font-family: $areno;
        color: black;
        font-size: 25px;
        display: block;
        padding: 40px 0px;
    }

    ul{
        width: 100%;
        height: 250px;
        overflow-x: scroll;
        overflow-y: hidden; 
    }

    .popular-tours-list{
        width: (200px + 6px + 6px) * 4 + 20px;

        @include desktop{
            width: 100%;
        }
    }

    .popular-tour {
        display: inline-block;
        background: green;
        width: 200px;
        height: 250px;
        margin: 6px;
        position: relative;
        background-size: cover;
        border-bottom: 30px solid green;

        &:nth-child(1){
            background-image: url(../img/instagram1.jpg);
            border-bottom-color: #fa5b00;
        }

        &:nth-child(2){
            background-image: url(../img/instagram2.jpg);
            border-bottom-color: #538ba3;
        }

        &:nth-child(3){
            background-image: url(../img/instagram3.jpg);
            border-bottom-color: #e52e1f;
        }

        &:nth-child(4){
            background-image: url(../img/instagram4.jpg);
            border-bottom-color: #0f161d;
        }
    }
}

footer{
    background: #0f161d;
    color: #f4f4f5;
    padding: 20px 20px 50px;
    font-size: 15px;
    display: flex;

    @include desktop{
        justify-content: space-between;
        align-items: center;
        padding-bottom: 20px;
    }


    span{
        text-transform: uppercase;
        display: block;
        padding-top: 5px;

        @include desktop{
            display: inline;
        }
    }

    .contact-info{
        text-align: right;

        @include desktop{
            display: flex;
            flex-grow: 1;
            justify-content: space-evenly;
        }   
    }
    
    p{
        padding: 5px;
    }
}